@import url('https://fonts.googleapis.com/css2?family=Alegreya+SC:wght@400;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=David+Libre:wght@400;500;700&display=swap');

.acessar {
    display: flex;
    align-items: center;
    justify-content: center;

    background-image: url(../img/entrar.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 130vh;
}

.login {
    width: 1000px;
    height: 700px; 
    display: flex;
    align-items: center;
    justify-content: center; 
    margin-top: 2rem;
   
}

.login-esquerda {
    display: flex;
    flex-direction: column;
    position: relative;
}

.login-esquerda-botao {
    position: absolute;
    top: 0;
    left: 0;
    margin-left: 2rem;
    margin-top: 2rem;
}

.login-esquerda-botao button {
    height: 40px;
    width: 130px;
    border: none;
    background-color: #D67E3E;
    color: #fff;
    font-size: 1.5rem;
    border-radius: 20px;
    font-family: 'David Libre', serif;
    display: flex;
    gap: 0.3rem;
    justify-content: center;
    align-items: center;
}

.login-esquerda-botao button:hover {
    background-color: #9e5a2a;
    color: #f2f2f2;
    transition: all .5s ;
}

.login-esquerda-botao button img {
    height: 20px;
    width: 30px;
}

.login-esquerda {
    flex: 1;
    background: rgba(82, 131, 181, 0.89);
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 30px 0 0 30px; 
}

.esquerda-conteudo h1{
    font-size: 4rem;
    color: #fff;
    font-family: 'Alegreya SC', serif;
    font-weight: 800;
}

.esquerda-conteudo p {
    font-size: 1.5rem;
    text-align: center;
    color: rgb(255, 255, 255, 0.70);
    margin-top: 1rem;
    font-family: 'David Libre', serif;
}

.login-direita-botao {
    position: absolute;
    top: 0;
    right: 0;
    margin-top: 2rem;
    margin-right: 2rem;
}

.login-direita-botao button {
    height: 40px;
    width: 135px;
    border: none;
    background-color: #D67E3E;
    color: #fff;
    font-size: 1.5rem;
    border-radius: 20px;
    font-family: 'David Libre', serif;
}

.login-direita-botao button:hover {
    background-color: #9e5a2a;
    color: #f2f2f2;
    transition: all .5s ;
}

.login-direita {
    flex: 1.5;
    height: 100%;
    background: rgba(82, 131, 181, 0.60);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0 30px 30px 0;
    position: relative; 
}

.acesso-login {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
}

.direita-conteudo h1{
    font-size: 2.5rem;
    margin-bottom: 1.5rem;
    text-align: center;
    color: #fff;
    letter-spacing: 3px;
    font-family: 'Alegreya SC', serif;
    font-weight: 400;
}

.acesso-login input {
    height: 55px;
    width: 25rem;
    border: solid 2px #fff;
    background-color: transparent;
    border-radius: 30px;
    position: relative;
}

.usuario-img img {
    height: 35px;
    width: 40px;
}

.usuario-img {
    position: absolute;
    left: 0;
    margin-left: 7rem;
    margin-top: .41rem;
}

.senha-img img {
    height: 40px;
    width: 40px;
}



.senha-img {
    position: absolute;
    left: 0;
    margin-left: 7rem;
    margin-top: 5.28rem;
}

.acesso-login input::placeholder{
    color: #fff;
    font-family: 'David Libre', serif;
    letter-spacing: 1px;
    font-size: 2rem;
    text-align: left;
}

.direita-conteudo button {
    height: 40px;
    width: 135px;
    border: none;
    background-color: #D67E3E;
    color: #fff;
    font-size: 1.5rem;
    border-radius: 20px;
    font-family: 'Alegreya SC', serif;
}

.direita-conteudo button:hover {
    background-color: #9e5a2a;
    color: #f2f2f2;
    transition: all .5s ;
    
}
